<section class="bg-[#DCDFD6] min-h-screen flex flex-col justify-start px-8 md:px-24 py-12  ">
  <nav class="flex justify-between items-center text-[#1F2937] text-lg font-medium mb-30">
    <div class="italic text-2xl font-semibold">Swathi</div>
    <ul class="flex gap-8">
      <li><a href="#home" class="hover:text-[#4A90E2]">Home</a></li>
      <li><a href="#about" class="hover:text-[#4A90E2]">About</a></li>
      <li><a href="#contact" class="hover:text-[#4A90E2]">Contact</a></li>
      <li><a href="#projects" class="hover:text-[#4A90E2]">Project</a></li>
    </ul>
  </nav>

  <div class="flex flex-col-reverse lg:flex-row items-center justify-between gap-10">
    
    <div class="flex-1">
      <h1 class="text-4xl md:text-5xl font-bold text-[#1F2937] mb-4">
        I’m Swathi H Nair,<br />
        Frontend Developer<br /> Based In India
      </h1>
      <p class="text-gray-600 text-lg mb-6 max-w-xl">
        I’m an experienced full-stack developer with a strong background in collaborating with startups and companies on modern web projects.
      </p>

      <div class="flex gap-4">
        <a href="#projects" class="bg-[#4A90E2] text-white px-6 py-3 rounded-lg shadow hover:bg-[#3A78C2] transition">
          View My Portfolio
        </a>
        <a href="#contact" class="border border-[#F67280] text-[#F67280] px-6 py-3 rounded-lg hover:bg-[#F67280] hover:text-white transition">
          Hire Me
        </a>
      </div>
    </div>

   
    <div class="flex-1 max-w-md">
      <img src="/images/p2.jpg" alt="Swathi" class="rounded-[40%] shadow-xl object-cover w-full border border-black" />
    </div>
  </div>
</section>
