<footer class="bg-[#DCDFD6] text-[#1F2937] px-6 sm:px-10 md:px-24 py-10 border-t border-[#1F2937]/10">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6">
    <ul class="flex flex-wrap justify-center gap-6 text-sm font-medium">
      <li><a href="#home" class="hover:text-[#4A90E2] transition">Home</a></li>
      <li><a href="#about" class="hover:text-[#4A90E2] transition">About</a></li>
      <li><a href="#projects" class="hover:text-[#4A90E2] transition">Projects</a></li>
      <li><a href="#contact" class="hover:text-[#4A90E2] transition">Contact</a></li>
    </ul>
    <div class="mt-6  text-sm text-[#1F2937]/70">
    © 2025 Swathi H Nair. All rights reserved.
  </div>
  </div>
  
</footer>
